{erl_opts, [no_debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}
]}.

{escript_incl_apps,
 [wcompletions, jsx]}.
{escript_main_app, wcompletions}.
{escript_name, wcompletions}.
{escript_emu_args, "%%! +sbtu +A0\n -pa **/ebin"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
